beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.1
cloudscraper==1.2.63
idna==3.3
JayDeBeApi==1.2.3
JPype1==1.4.0
pyparsing==3.0.9
requests==2.28.1
requests-toolbelt==0.9.1
soupsieve==2.3.2.post1
urllib3==1.26.12
